<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Wardrobe.Dao.Properties.Settings.WardrobeConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Wardrobe;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>